In [44]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm

In [45]:
dat_train = pd.read_csv("train.csv").set_index("PassengerId")

In [46]:
dat_train.Sex = dat_train.Sex.map({'female': 0,'male': 1})
dat_train.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [47]:

dat_train.Embarked.value_counts()
dat_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null int64
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 69.6+ KB

In [48]:
dat_train.Embarked.fillna('S',inplace=True)
dat_train.Embarked = dat_train.Embarked.map({'S': 1,'C': 2,"Q": 3})

In [49]:
dat_train.Fare.isnull().sum()

0

In [50]:
dat_train=dat_train.drop(['Cabin','Name','Parch','SibSp','Ticket'],axis=1)

In [51]:
dat_train.describe(include='all')

         Survived      Pclass         Sex         Age        Fare    Embarked
count  891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587   29.699118   32.204208    1.361392
std      0.486592    0.836071    0.477990   14.526497   49.693429    0.635673
min      0.000000    1.000000    0.000000    0.420000    0.000000    1.000000
25%      0.000000    2.000000    0.000000   20.125000    7.910400    1.000000
50%      0.000000    3.000000    1.000000   28.000000   14.454200    1.000000
75%      1.000000    3.000000    1.000000   38.000000   31.000000    2.000000
max      1.000000    3.000000    1.000000   80.000000  512.329200    3.000000

In [52]:
dat_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 6 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         714 non-null float64
Fare        891 non-null float64
Embarked    891 non-null int64
dtypes: float64(2), int64(4)
memory usage: 48.7 KB

In [53]:
dat_train.Age.fillna(dat_train.Age.mean(),inplace=True)

In [54]:

dat_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 6 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
Fare        891 non-null float64
Embarked    891 non-null int64
dtypes: float64(2), int64(4)
memory usage: 48.7 KB

In [55]:
clf= svm.SVC(gamma=0.00001,C=100)

In [62]:
d_x=dat_train.drop(['Survived'],axis=1)
d_y=dat_train['Survived']
d_x.shape, d_y.shape

((891, 5), (891,))

In [63]:
clf.fit(d_x,d_y)

SVC(C=100, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1e-05, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [64]:
dat_test = pd.read_csv('test.csv').set_index("PassengerId")

In [66]:
dat_test.Sex = dat_test.Sex.map({'female': 0,'male': 1})

In [70]:
dat_test.Embarked.fillna('S',inplace=True)
dat_test.Embarked = dat_test.Embarked.map({'S': 1,'C': 2,"Q": 3})

In [69]:
dat_test.Fare.isnull().sum()

1

In [71]:
dat_test.Fare.fillna((dat_test.Fare.mean()),inplace=True)

In [72]:
dat_test.Fare.isnull().sum()

0

In [73]:
dat_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null int64
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        418 non-null float64
Cabin       91 non-null object
Embarked    418 non-null int64
dtypes: float64(2), int64(5), object(3)
memory usage: 31.0+ KB

In [75]:
dat_test.Age.fillna(dat_test.Age.median(),inplace=True)

In [77]:
dat_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
Pclass      418 non-null int64
Name        418 non-null object
Sex         418 non-null int64
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Ticket      418 non-null object
Fare        418 non-null float64
Cabin       91 non-null object
Embarked    418 non-null int64
dtypes: float64(2), int64(5), object(3)
memory usage: 31.0+ KB

In [78]:
dat_test=dat_test.drop(['Cabin','Name','Parch','SibSp','Ticket'],axis=1)

In [79]:
dat_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 5 columns):
Pclass      418 non-null int64
Sex         418 non-null int64
Age         418 non-null float64
Fare        418 non-null float64
Embarked    418 non-null int64
dtypes: float64(2), int64(3)
memory usage: 19.6 KB

In [80]:
d_ty = clf.predict(dat_test)

In [81]:
d_ty = pd.Series(d_ty)

In [82]:
d_ty

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     1
13     0
14     1
15     0
16     0
17     0
18     0
19     0
20     1
21     0
22     0
23     1
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    1
391    0
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    1
404    0
405    0
406    0
407    1
408    0
409    0
410    0
411    1
412    0
413    0
414    1
415    0
416    0
417    0
Length: 418, dtype: int64

In [83]:
d_ty.to_csv("subm.csv")